<ion-header>
    <ion-toolbar>
      <ion-title>Cost To Business</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <form [formGroup]="transaction_form">
      <ion-item>
        <ion-label>Amount</ion-label>
        <ion-input formControlName="amount" input="number"></ion-input>
      </ion-item>
    </form>
    <ion-row>
      <ion-col>
        <ion-button color="Medium" (click)="closeModalCtrl()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="updateFarmerTransaction()">
          Update
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
  