<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="otp_session">Otp Verification</ion-title>
    <ion-title *ngIf="password_reset_session">Create New Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top:20%; padding: 10px" *ngIf="otp_session">
    <ion-row>
      <ion-col>
        <span>Pleaser enter the OTP code sent to your registered mobile
          (xxxxxx{{user_details['mobile'] | slice: 6:10 }}).</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="border:3px solid lightgray">
          <ion-input type="number" text-center [(ngModel)]="otp"
            style="font-size: 25px;letter-spacing: 7px;font-weight: bold;"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button (click)="navToPasswordReset()">Confirm</ion-button>
      </ion-col>
      <ion-col></ion-col>

    </ion-row>
  </div>
  <div *ngIf="password_reset_session">
    <ion-card style="margin-top:40%;">
      <ion-card-header style="padding: 10px;">
        <ion-row>
          <ion-col>
            <ion-item style="border:2px solid lightgray">
              <ion-label position="floating">New Password</ion-label>
              <ion-input [(ngModel)]="new_pass" type={{new_pass_type}}></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2" style="text-align: center">
            <ion-icon style="font-size: 30px; margin-top: 17px;" [name]="new_pass_type == 'password'? 'eye':'eye-off'"
              (click)="showNewPassword()"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item style="border:2px solid lightgray">
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input [(ngModel)]="confirm_pass" type={{confirm_pass_type}} (ionChange)="confirmPassword()">
              </ion-input><br>
            </ion-item>
          </ion-col>
          <ion-col size="2" style="text-align: center">
            <ion-icon style="font-size: 30px; margin-top: 25px;"
              [name]="confirm_pass_type == 'password'? 'eye':'eye-off'" (click)="showConfirmPassword()"></ion-icon>
          </ion-col>
        </ion-row>
        <div style="font-size:12px; color: red">{{alert}}</div>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-button fill="clear" style="background:#fec96f;color: black; border-radius: 25px;"
              (click)=savePassword()>Submit</ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>