<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Farmer Register</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="resetFarmerField()" expand="block" fill="solid">
        <ion-icon style="font-size: 25px" name="sync"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="farmer_register_form">
    <ion-list lines="full">
      <ion-row class="ion-align-items-center">
        <!-- first name -->
        <ion-col>
          <ion-item
            [style.border]="farmer_register_form.value.first_name == null || farmer_register_form.value.first_name == ''  ? '1px solid red' : '1px solid lightgrey'">
            <ion-label position="stacked">First Name<ion-icon name="star" style="color: red;"></ion-icon>
            </ion-label>
            <ion-input formControlName="first_name"></ion-input>
          </ion-item>
          <div style="font-style: italic; font-size: small"
            [ngStyle]="{'color': farmer_register_form.controls.first_name.valid? 'green': 'red'}"
            *ngIf="farmer_register_form.controls.first_name.errors !== null">
            {{ farmer_register_form.controls.first_name.errors['error']}}
          </div>
        </ion-col>
        <!-- last name -->
        <ion-col>
          <ion-item
            [style.border]="farmer_register_form.value.last_name == null || farmer_register_form.value.last_name == ''  ? '1px solid red' : '1px solid lightgrey'">
            <ion-label position="stacked">Last Name<ion-icon name="star" style="color: red"></ion-icon>
            </ion-label>
            <ion-input formControlName="last_name"></ion-input>
          </ion-item>
          <div style="font-style: italic; font-size: small"
            [ngStyle]="{'color': farmer_register_form.controls.last_name.valid? 'green': 'red'}"
            *ngIf="farmer_register_form.controls.last_name.errors !== null">
            {{ farmer_register_form.controls.last_name.errors['error']}}
          </div>
        </ion-col>
      </ion-row>
      <!-- mobile numbers -->
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-item
            [style.border]="farmer_register_form.value.mobile == null || farmer_register_form.value.mobile == ''  ? '1px solid red' : '1px solid lightgrey'">
            <ion-label position="stacked">Mobile Number<ion-icon name="star" style="color: red"></ion-icon>
            </ion-label>
            <ion-input formControlName="mobile" type="number"></ion-input>
          </ion-item>
          <div style="font-style: italic; font-size: small"
            [ngStyle]="{'color': farmer_register_form.controls.mobile.valid? 'green': 'red'}"
            *ngIf="farmer_register_form.controls.mobile.errors !== null">
            {{ farmer_register_form.controls.mobile.errors['error']}}
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Alternate Mobile Number</ion-label>
            <ion-input formControlName="alternate_mobile" type="number"></ion-input>
          </ion-item>
        
        </ion-col>
      </ion-row>
      <!-- state -->
      <ion-row class="ion-align-items-center">
        <ion-col size='6' class="border-item"
          [style.border]="farmer_register_form.value.state_id == null || farmer_register_form.value.state_id == ''  ? '1px solid red' : '1px solid lightgrey'">
          <ion-select placeholder="Select your state" formControlName="state_id" interface="popover"
            (ionChange)="onStateChanged(selected_state_id.value)" #selected_state_id>
            <ion-select-option *ngFor="let state of states" [value]="state['id']">
              {{ state["name"] }}</ion-select-option>
          </ion-select>
        </ion-col>
        <!-- district -->
        <ion-col *ngIf="sorted_district != null" size='6' class="border-item"
          [style.border]="farmer_register_form.value.district_id == null || farmer_register_form.value.district_id == ''  ? '1px solid red' : '1px solid lightgrey'">
          <ion-select placeholder="Select your district" formControlName="district_id" interface="popover">
            <ion-select-option *ngFor="let district of sorted_district" [value]="district['id']">
              {{ district["name"] }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <!-- street address -->
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-item class="border-item">
            <ion-label position="stacked">Door No, Address </ion-label>
            <ion-input formControlName="street"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-item class="border-item">
            <ion-label position="stacked">Village</ion-label>
            <ion-input formControlName="village"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Pincode</ion-label>
            <ion-input type="number" formControlName="pincode"></ion-input>
          </ion-item>
          <div style="font-style: italic; font-size: small"
            [ngStyle]="{'color': farmer_register_form.controls.pincode.valid? 'green': 'red'}"
            *ngIf="farmer_register_form.controls.pincode.errors !== null">
            {{ farmer_register_form.controls.pincode.errors['error']}}
          </div>
        </ion-col>
      </ion-row>

      <!-- language -->
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-item class="border-item">
            <ion-label position="stacked">Language</ion-label>
            <ion-select formControlName="language_id" interface="popover">
              <ion-select-option *ngFor="let language of language_list" [value]="language['id']">
                {{ language['name'] }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          <ion-item class="border-item">
            <ion-label position="floating">Latitude</ion-label>
            <ion-input type="number" formControlName="latitude" readonly></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item class="border-item">
            <ion-label position="floating">Longitude</ion-label>
            <ion-input type="number" formControlName="longitude" readonly></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-button style="margin-top: 45%;" size="small" (click)="getCurrentLocation()">
            <ion-icon name="locate" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col></ion-col>
        <ion-col>
          <ion-button class="activated" [disabled]="!farmer_register_form.valid" type="submit"
            [color]="farmer_register_form.valid ? 'success' : 'medium'" (click)="registerFarmer()">Register Farmer
          </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

    </ion-list>
  </form>
</ion-content>