.list-md .item-lines-full, .list-md-lines-full .item, .list-md .item-lines-inset, .list-md-lines-inset .item{
    --border-width: 0;
    --inner-border-width: 0;
    padding: 0;
  }
  .yellow-fab-button {
    --background : #ebe744;
  }