<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="color: white">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="sign_up_form" style="padding-top: 8%;">
    <!-- business name -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="contact" style="color: #282840"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="text" formControlName="business_name" placeholder="Business name" />
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- short_name -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="contact" style="color: #282840"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="text" formControlName="short_name" placeholder="Short Name" />
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- business category -->
    <ion-card class="custom-input" style="padding:0px">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="map" style="color: #777271;margin-top: 12px;"></ion-icon>
        </ion-col>
        <ion-col style="text-align: left;">
          <ion-select placeholder="Select your Business category" formControlName="business_type" interface="popover">
            <ion-select-option *ngFor="let business of business_types" [value]="business['id']">
              {{ business['name'] }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- city -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="locate" style="color: #777271;"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="text" required formControlName="city" placeholder="City" />
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- street -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="locate" style="color: #777271;"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="text" required formControlName="street" placeholder="Street" />
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- taluk -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="locate" style="color: #777271;"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="text" required formControlName="taluk" placeholder="Taluk" />
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- state -->
    <ion-card class="custom-input" style="padding:0px">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="map" style="color: #777271;margin-top: 12px;"></ion-icon>
        </ion-col>
        <ion-col style="text-align: left;">
          <ion-select placeholder="Select your state" formControlName="state" interface="popover"
            (ionChange)="onStateChanged(selected_state_id.value)" #selected_state_id required>
            <ion-select-option *ngFor="let state of states" [value]="state['id']">
              {{ state["name"] }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-card>
    
    <!-- district -->
    <ion-card class="custom-input" style="padding:0px">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="map" style="color: #777271;margin-top: 12px;"></ion-icon>
        </ion-col>
        <ion-col style="text-align: left;">
          <ion-select placeholder="Select your district" formControlName="district" interface="popover">
            <ion-select-option *ngFor="let district of sorted_district" [value]="district['id']">
              {{ district["name"] }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- pincode -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="pin" style="color: #777271;"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="number" required formControlName="pincode" placeholder="Enter the 6 digit pincode" />
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- address -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="pin" style="color: #777271;"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-textarea formControlName="address" placeholder="Enter the full address" style="text-align: left;margin-top: -11px;">
          </ion-textarea>
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- mobile -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="phone-portrait" style="color: #282840"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="number" formControlName="mobile" placeholder="Enter the 10 digit phone number" />
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- alterative mobile -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="phone-portrait" style="color: #282840"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="number" formControlName="alternate_phone" placeholder="Enter the alternate phone number" />
        </ion-col>
      </ion-row>
    </ion-card>
    <!--email -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="at" style="color: #777271;"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="text" formControlName="email" placeholder="Enter the Email address" />
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- website -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="globe" style="color: #777271;"></ion-icon>
        </ion-col>
        <ion-col>
          <input type="text" formControlName="website" placeholder="Enter your Website URL" />
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- password -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="key" style="color: #282840"></ion-icon>
        </ion-col>
        <ion-col>
          <input [type]="passwordType" formControlName="password" placeholder="Password" />
        </ion-col>
        <ion-col size="1">
          <ion-icon style="margin-left: -41px;font-size: 15px" [name]="passwordIcon" class="passwordIcon"
            (click)="hideShowPassword()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- confirm password -->
    <ion-card class="custom-input">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="key" style="color: #282840"></ion-icon>
        </ion-col>
        <ion-col>
          <input [type]="passwordType" formControlName="password2" placeholder="Confirm Password" />
        </ion-col>
        <ion-col size="1">
          <ion-icon [name]="passwordIcon" class="passwordIcon" style="margin-left: -41px;font-size: 15px"
            (click)="hideShowPassword()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- submit -->
    <ion-card [ngClass]="sign_up_form.valid ? 'custom-button' : 'custom-invalid-button'">
      <ion-row (click)="onRegisterUser()">
        <ion-col>
          SignUp
        </ion-col>
      </ion-row>
    </ion-card>
  </form>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6"><span style="color: black">Powered by </span><span
        style="color: red; font-style: italic;">Kultivate</span>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
</ion-footer>